{% extends 'crm/base.html' %}

{% block title %}Edit Lead{% endblock %}

{% block content %}
<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <div class="card shadow-sm border-0 rounded-4">
        <div class="card-header bg-primary text-white rounded-top-4">
          <h4 class="mb-0">Edit Lead Details</h4>
        </div>
        <div class="card-body">
       <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="redirect_to" value="{{ redirect_to }}">
    <button type="submit">Save</button>
</form>


        </div>
      </div>
    </div>
  </div> 
</div>
{% endblock %}
